<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 Copyright2011 - 2013 TIBCO Software Inc.
 All rights reserved.
 This software is confidential and proprietary information of TIBCO Software Inc.
 Overridable true
 </copyright>
 $Id$
-->

<plugin>

   <extension
         point="com.tibco.bw.design.Palette">
      <paletteDrawer
            expanded="false"
            paletteID="bw.tas"
            name="%tas.palette.name"
            priority="500"
            smallIcon="icons/obj16/tas_16x16.png"
            productID="bw.tas.product"
            tooltip="%tas.palette.tooltip">
      </paletteDrawer>
   </extension>

   <extension
         point="com.tibco.bw.design.ActivityType">
      <activityType
            activityTypeID="bw.tas.TctaCreateTransaction"
            name="%tas.activity.TctaCreateTransaction.name"
            priority="100"
            tooltip="%tas.activity.TctaCreateTransaction.tooltip"
            visible="true">
         <palette
               paletteID="bw.tas">
         </palette>
      </activityType>
      <activityType
            activityTypeID="bw.tas.TctaGetToken"
            name="%tas.activity.TctaGetToken.name"
            priority="100"
            tooltip="%tas.activity.TctaGetToken.tooltip"
            visible="true">
         <palette
               paletteID="bw.tas">
         </palette>
      </activityType>


   </extension>

   <extension
         point="com.tibco.bw.design.ActivitySignature">
      <signature
            activityTypeID="bw.tas.TctaCreateTransaction"
            signatureClass="com.tibco.bw.palette.tas.design.createtransaction.TctaCreateTransactionSignature">
      </signature>
      <signature
            activityTypeID="bw.tas.TctaGetToken"
            signatureClass="com.tibco.bw.palette.tas.design.gettoken.TctaGetTokenSignature">
      </signature>
   </extension>

   <extension
         point="com.tibco.bw.design.ActivityTypeConfigEMF">
      <config
            activityTypeID="bw.tas.TctaCreateTransaction"
            eClassName="TctaCreateTransaction"
            ePackageNSURI="http://ns.tibco.com/bw/palette/tas"
            instanceName="%tas.activity.default.TctaCreateTransaction.name"
            modelHelperClass="com.tibco.bw.palette.tas.design.createtransaction.TctaCreateTransactionModelHelper">
      </config>
      <config
            activityTypeID="bw.tas.TctaGetToken"
            eClassName="TctaGetToken"
            ePackageNSURI="http://ns.tibco.com/bw/palette/tas"
            instanceName="%tas.activity.default.TctaGetToken.name"
            modelHelperClass="com.tibco.bw.palette.tas.design.gettoken.TctaGetTokenModelHelper">
      </config>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.bw.core.design.process.editor">
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.tas.design.createtransaction.TctaCreateTransactionGeneralSection"
               filter="com.tibco.bw.palette.tas.design.createtransaction.TctaCreateTransactionGeneralSection"
               id="bw.tas.TctaCreateTransaction.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.tas.design.gettoken.TctaGetTokenGeneralSection"
               filter="com.tibco.bw.palette.tas.design.gettoken.TctaGetTokenGeneralSection"
               id="bw.tas.TctaGetToken.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
      </propertySections>
   </extension>

   <extension
         point="com.tibco.bw.design.BWContextHelp">
      <plugin
            defaultURL="https://docs.tibco.com/pub/activematrix-businessworks-plugin-for-tas/6.0.0-february-2014/doc/html/index.html"
            id="bw.tas.product"
            name="BusinessWorks TCTA Plugin">
      </plugin>
   </extension>

</plugin>
