<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 Copyright2011 - 2013 TIBCO Software Inc.
 All rights reserved.
 This software is confidential and proprietary information of TIBCO Software Inc.
 Overridable true
 </copyright>
 $Id$
-->

<plugin>
   <extension
         point="com.tibco.amf.design.sr.core.sharedResourceExtension">
      <srExtension
            fileExtension="tctaconnectionResource"
            name="tctaConnection"
            typeQName="{http://ns.tibco.com/bw/sharedresource/tcta}tctaConnection">
      </srExtension>
   </extension>
   <extension
         point="com.tibco.amf.design.sr.core.sharedResourceCreator">
      <sharedResourceCreator
            sharedResourceType="tctaconnectionResource"
            wizard="com.tibco.bw.sharedresource.tcta.design.wizard.tctaconnection.TctaConnectionWizard">
      </sharedResourceCreator>
   </extension>
   <extension
         point="com.tibco.bw.design.propertyType">
      <propertyTypeToITBinding
            implementationTypeID="implementation.bw"
            supportedPropertyType="{http://ns.tibco.com/bw/sharedresource/tcta}tctaConnection">
      </propertyTypeToITBinding>
      <propertyType
            QName="{http://ns.tibco.com/bw/sharedresource/tcta}tctaConnection"
            cellEditor="com.tibco.bw.sharedresource.common.design.internal.picker.SharedResourceCellEditor:tctaconnectionResource"
            editControl="com.tibco.amf.design.sr.ui.internal.picker.SharedResourcePropertyValueViewer:tctaconnectionResource"
            icon="icons/obj16/tctaResource_16x16.png"
            typeDescription="%tctaconnection.sharedresource.name"
            typeLabel="%tctaconnection.display.activity.name">
      </propertyType>
   </extension>
   <extension
         point="com.tibco.bw.sharedresource.common.design.BWSharedResource">
      <resourcetype
            productID="bw.tcta.product"
            resourceQName="{http://ns.tibco.com/bw/sharedresource/tcta}tctaConnection">
         <requirement
               requirementName="bw.tctaconnection"
               requirementNamespace="com.tibco.bw.sharedresource.model">
         </requirement>
      </resourcetype>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="tctaconnectionResource"
            indexID="sr.index.tctaconnectionResource"
            indexerClass="com.tibco.amf.design.sr.core.internal.wc.GenericSharedResourceIndexProvider">
      </indexer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.new"
            class="com.tibco.bw.sharedresource.tcta.design.wizard.tctaconnection.tctaConnectionWizard"
            descriptionImage="icons/obj48/tcta_48x48.png"
            icon="icons/obj16/tctaResource_16x16.png"
            id="com.tibco.bw.sharedresource.tcta.design.tctaconnectionwizard"
            name="%tctaconnection.sharedresource.name">       
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.bw.sharedresource.tcta.design.wizard.tctaconnection.TctaConnectionSharedResourceEditor"
            contributorClass="com.tibco.bw.sharedresource.common.design.forms.SREditorContributor"
            default="false"
            extensions="tctaconnectionResource"
            icon="icons/obj16/tctaResource_16x16.png"
            id="com.tibco.bw.sharedresource.tcta.design.tctaconnectioneditor"
            name="%tctaconnection.display.activity.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.compositeContent"
            menuGroupId="shared-resources"
            type="new"
            wizardId="com.tibco.bw.sharedresource.tcta.design.tctaconnectionwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="com.tibco.amx.zion.resource">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="com.tibco.amx.zion.resource">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="com.tibco.bw.sharedresource.tcta.design.provider.TctaItemProviderAdapterFactory"
            uri="http://ns.tibco.com/bw/sharedresource/tcta"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>
    
</plugin>
