<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 Copyright2011 - 2013 TIBCO Software Inc.
 All rights reserved.
 This software is confidential and proprietary information of TIBCO Software Inc.
 Overridable true
 </copyright>
 $Id$
-->

<plugin>

   <extension
         point="com.tibco.bw.design.Palette">
      <paletteDrawer
            expanded="false"
            paletteID="bw.auditsafe"
            name="%tas.palette.name"
            priority="500"
            smallIcon="icons/obj16/tas_16x16.png"
            productID="bw.auditsafe.product"
            tooltip="%tas.palette.tooltip">
      </paletteDrawer>
   </extension>

   <extension
         point="com.tibco.bw.design.ActivityType">
      <activityType
            activityTypeID="bw.auditsafe.PostAuditEvent"
            name="%tas.activity.PostAuditEvent.name"
            priority="100"
            tooltip="%tas.activity.PostAuditEvent.tooltip"
            visible="true">
         <palette
               paletteID="bw.auditsafe">
         </palette>
      </activityType>
      <activityType
            activityTypeID="bw.auditsafe.GetAuditEvent"
            name="%tas.activity.GetAuditEvent.name"
            priority="100"
            tooltip="%tas.activity.GetAuditEvent.tooltip"
            visible="true">
         <palette
               paletteID="bw.auditsafe">
         </palette>
      </activityType>


   </extension>

   <extension
         point="com.tibco.bw.design.ActivitySignature">
      <signature
            activityTypeID="bw.auditsafe.PostAuditEvent"
            signatureClass="com.tibco.bw.palette.tas.design.postauditevent.PostAuditEventSignature">
      </signature>
      <signature
            activityTypeID="bw.auditsafe.GetAuditEvent"
            signatureClass="com.tibco.bw.palette.tas.design.getauditevent.GetAuditEventSignature">
      </signature>
   </extension>

   <extension
         point="com.tibco.bw.design.ActivityTypeConfigEMF">
      <config
            activityTypeID="bw.auditsafe.PostAuditEvent"
            eClassName="PostAuditEvent"
            ePackageNSURI="http://ns.tibco.com/bw/palette/tas"
            instanceName="%tas.activity.default.PostAuditEvent.name"
            modelHelperClass="com.tibco.bw.palette.tas.design.postauditevent.PostAuditEventModelHelper">
      </config>
      <config
            activityTypeID="bw.auditsafe.GetAuditEvent"
            eClassName="GetAuditEvent"
            ePackageNSURI="http://ns.tibco.com/bw/palette/tas"
            instanceName="%tas.activity.default.GetAuditEvent.name"
            modelHelperClass="com.tibco.bw.palette.tas.design.getauditevent.GetAuditEventModelHelper">
      </config>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.bw.core.design.process.editor">
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.tas.design.postauditevent.PostAuditEventGeneralSection"
               filter="com.tibco.bw.palette.tas.design.postauditevent.PostAuditEventGeneralSection"
               id="bw.auditsafe.PostAuditEvent.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.tas.design.getauditevent.GetAuditEventGeneralSection"
               filter="com.tibco.bw.palette.tas.design.getauditevent.GetAuditEventGeneralSection"
               id="bw.auditsafe.GetAuditEvent.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
      </propertySections>
   </extension>

   <extension
         point="com.tibco.bw.design.BWContextHelp">
      <plugin
            defaultURL="https://docs.tibco.com/go/bwpluginauditsafe/6.3.1/doc/html"
            id="bw.auditsafe.product"
            name="BusinessWorks TAS Plugin">
      </plugin>
   </extension>

</plugin>
